// ***** styles for slick dots *********
.slick-dots {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 125px);
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  @media screen and (min-width: 1770px) {
    bottom: 50px;
    left: 12%;
  }

  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 8px;
    padding: 0;
    cursor: pointer;

    button {
      border: 1px solid #6e6e6e;
      border-radius: 50%;
      background-color: #F50049;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
      padding: 0;
      cursor: pointer;
      vertical-align: top;

      &:hover {
        outline: #00b1ff;
        background-color: darken(#F50049, 30);

        &:before {
          opacity: 1;
        }
      }

      &:before {
        position: absolute;
        top: 5px;
        left: 5px;
        content: '';
        display: block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: #F50049;
      }
    }

    &.slick-active button:before {
      background-color: darken(#F50049, 30);
      opacity: 1;
    }
  }
}

// ***** styles for slick arrows *********
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 10;

  &:hover, &:focus {
    outline: none;
    background: transparent;
    color: transparent;

    &:before {
      opacity: 1;
      text-shadow: 0 0 5px #F50049;
    }
  }

  &.slick-disabled:before {
    opacity: 0.3;
  }

  &:before {
    font: 40px/1 'Playfair Display', sans-serif;
    color: #F50049;
    opacity: 0.7;
  }
}

.slick-prev {
  left: 50px;
  @media screen and (max-width: 1280px) {
    left: 15px;
  }

  &:before {
    content: '<';
  }
}

.slick-next {
  right: 50px;
  @media screen and (max-width: 1280px) {
    right: 15px;
  }

  &:before {
    content: '>';
  }
}